---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro"
import Footer from "../../../components/Footer.astro"
import DarkButtons from "../../../components/DarkButtons.astro";
import Comentarios from "../../../components/Comentarios.astro";
---

<Layout title="Evaluación">
    <Header />
    <main>
        <div class="bg-[#00324D] text-white p-6 flex gap-4">
            <aside class="flex flex-col items-start max-w-[500px] gap-4">
                <div class="text-white">
                    <h2 class="font-bold text-2xl">Desarrollo Front-End con HTML, CSS y JavaScript</h2>
                </div>
                <div class="flex flex-col items-center gap-2">
                    <div class="cursor-pointer hover:shadow-2xl bg-white px-3 py-4 rounded-2xl text-black min-w-[420px] flex items-center justify-between">
                        <span class="font-bold list-disc mx-3 text-xl"><i class="fa-solid fa-caret-right mr-3"></i>Bienvenida al curso</span>
                        <span class="text-sm text-gray-600">1 clase - 5 min</span>
                    </div>
                    <div class="cursor-pointer hover:shadow-2xl bg-white px-3 py-4 rounded-2xl text-black flex flex-col items-left gap-3 min-w-[420px]">
                        <div class="flex items-center justify-between">
                            <span class="font-bold list-disc mx-3 text-xl"><i class="fa-solid fa-caret-right mr-3 rotate-90"></i>Datos y control</span>
                            <span class="text-sm text-gray-600">3 clases - 30 min</span>
                        </div>
                        <div class="flex flex-col gap-1">
                            <div class="py-2 hover:bg-gray-500 bg-[#00324D] rounded-2xl text-white transition-all duration-200 cursor-pointer">
                                <a href="/courses/Desarrollo Front-End con HTML, CSS y JavaScript/course" class="mx-3"><i class="fa-solid fa-video mr-3"></i>Llamadas a APIs</a>
                            </div>
                            <div class="py-2 hover:bg-gray-500 bg-[#00324D] rounded-2xl text-white transition-all duration-200 cursor-pointer">
                                <a href="/courses/Desarrollo Front-End con HTML, CSS y JavaScript/evaluacion" class="mx-3"><i class="fa-solid fa-file mr-3"></i>Evaluación</a>
                            </div>
                        </div>
                    </div>
                    <div class="cursor-pointer hover:shadow-2xl bg-white px-3 py-4 rounded-2xl text-black min-w-[420px] flex items-center justify-between">
                        <span class="font-bold list-disc mx-3 text-xl"><i class="fa-solid fa-caret-right mr-3"></i>Rey de las funciones</span>
                        <span class="text-sm text-gray-600">20 clase - 4 horas</span>
                    </div>
                </div>
            </aside>
            <section class="bg-white text-black p-4 rounded-2xl text-center inline-block">
                <div class="my-5 text-center">
                    <h2 class="font-bold text-4xl">Evaluación</h2>
                </div>
                <div class="flex flex-col gap-4 mb-10">
                    <h4 class="font-bold text-left">1. ¿Qué es un atributo en HTML y cómo se utiliza?</h4>
                    <div class="flex flex-col gap-2 text-left">
                        <div class="flex items-center gap-2">
                            <input type="checkbox" name="" id="">
                            <span class="font-medium">Un atributo es una etiqueta en HTML</span>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" name="" id="">
                            <span class="font-medium">Un atributo es un comentario en el código</span>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" name="" id="">
                            <span class="font-medium">Un atributo proporciona información adicional sobre un elemento HTML y se define dentro del elemento con el formato ‘nombre=”valor”’</span>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" name="" id="">
                            <span class="font-medium">Un atributo es una etiqueta de cierre</span>
                        </div>
                    </div>
                </div>
                <DarkButtons>Siguiente</DarkButtons>
            </section>
        </div>
        <section class="my-8 p-6">
            <h2 class="text-3xl font-bold my-6 text-center">Comentarios</h2>
            <div>
                <div class="flex gap-2 items-center my-3">
                    <picture>
                        <div class="bg-gray-300 min-w-[50px] min-h-[50px] max-w-[50px] max-h-[50px] rounded-full"></div>
                    </picture>
                    <div class="flex flex-col items-start justify-start">
                        <span class="font-bold text-lg leading-tight">Yoiner Pertuz</span>
                        <span class="text-gray-500 text-xs leading-tight font-medium">Estudiante</span>
                        <span class="font-medium">Examen de acuerdo a lo que se dio en los módulos anteriores, excelente contenido.</span>
                    </div>
                </div>
                <hr>
                <Comentarios name="Samuel Mena" rol="Estudiante" message="Examen de acuerdo a lo que se dio en los módulos anteriores, excelente contenido."/>
            </div>
        </section>
    </main>
    <Footer />
</Layout>