<section class="bg-[#00324D] text-white max-w-[350px] min-w-[350px] rounded-3xl py-10">
    <div class="flex flex-col items-center justify-between p-6">
        <picture>
            <img src="../../public/image3.jpeg" class="rounded-full w-[120px] h-[120px]">
        </picture>
        <span class="text-2xl font-bold">Usuario</span>
    </div>
    <div class="flex items-center justify-center w-full text-center flex-col">
        <a class="text-white font-medium hover:bg-black w-full p-3 transition-all duration-200" href="/my-account/info">Informacion personal</a>
        <a class="text-white font-medium hover:bg-black w-full p-3 transition-all duration-200" href="/my-account/my-courses">Mis cursos</a>
        <a class="text-white font-medium hover:bg-black w-full p-3 transition-all duration-200" href="/my-account/my-certificates">Mis certificados</a>
        <a class="text-white font-medium hover:bg-black w-full p-3 transition-all duration-200" href="/my-account/security">Seguridad de la cuenta</a>
    </div>
</section>