---
// import DarkButtons from "./DarkButtons.astro";
---

<article class="max-w-[250px] bg-gray-200 p-6 rounded-2xl hover:scale-110 transition-all duration-200 text-center flex flex-col items-center justify-between">
    <picture>
        <img src="../../public/image6.jpg" alt="" class="w-[120px] h-[120px] rounded-full">
    </picture>
    <div class="mb-4">
        <h4 class="font-semibold text-xl">Steven Gonzalez</h4>
        <span class="text-sm text-gray-600">steven@gmail.com</span>
    </div>
    <button class="cursor-pointer bg-[#00324D] text-white py-2 px-3 rounded-xl text-base font-semibold mx-3 hover:scale-110 hover:bg-black transition-all duration-200 hover:shadow-lg">Editar</button>
</article>