---
const {contenido, duracion} = Astro.props
---
<a href="#" class="w-full flex justify-between items-center bg-[#fff] p-3 rounded-2xl cursor-pointer">
    <li class="list-disc text-[20px] font-bold">{contenido}</li>
    <span class="text-[12px] text-gray-500">{duracion}</span>
</a> 