<footer class="flex justify-around bg-[#00324D] p-4 items-center">
    <div class="flex gap-10 text-white items-center font-semibold">
        <a class="hover:scale-110 transition-transform duration-200" href="#">Politicas de privacidad</a>
        <a class="hover:scale-110 transition-transform duration-200" href="#">Politica de cookies</a>
        <a class="hover:scale-110 transition-transform duration-200" href="#">Aviso legal</a>
    </div>
    <picture>
        <img class="h-12 rounded-lg" src="../../public/gobierno.jpeg" alt="">
    </picture>
</footer>