---
import Link from "./Link.astro";

---

<footer class="flex justify-around bg-[#00324D] p-4 items-center">
    <div class="flex gap-10 text-white items-center font-semibold">
        <Link href="#">Politicas de privacidad</Link>
        <Link href="#">Politica de cookies</Link>
        <Link  href="#">Aviso legal</Link>
    </div>
    <picture>
        <img class="h-12 rounded-lg" src="../../public/gobierno.jpeg" alt="">
    </picture>
</footer>