---
import DarkButtons from "./DarkButtons.astro";
---

<header class="mb-3">
    <nav class="p-3 mb-3">
        <div class="flex justify-around  items-center">
            <picture>
                <img class="w-28 m-3" src="../../public/Sena Learn LOGO.png" alt="">
            </picture>
            <ul class="flex justify-around items-center w-[450px]">
                <li>
                    <a href="/" class="font-semibold hover:scale-[1.1] transition-all duration-200">Inicio</a>
                </li>
                <li><a href="#"><i class="fa-solid fa-envelope hover:scale-[1.1] transition-all duration-200"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-bell hover:scale-[1.1] transition-all duration-200"></i></a></li>
                <li>
                    <DarkButtons href="/my-account">Mi cuenta</DarkButtons>
                </li>
            </ul>
        </div>
    </nav>
</header>