---
import DarkButtons from "./DarkButtons.astro";
---

<header class="mb-2">
    <nav class="p-3 mb-4">
        <ul class="flex justify-around items-center">
            <picture>
                <img class="w-28 m-3" src="../../public/Sena Learn LOGO.png" alt="">
            </picture>
            <div class="flex gap-10">
                <a href="/" class="font-semibold hover:scale-[1.1] transition-all duration-200">Inicio</a>
                <a href="/cursos" class="font-semibold hover:scale-[1.1] transition-all duration-200">Cursos</a>
            </div>
            <div class="w-[300px] flex">
                <DarkButtons href="/login" class="w-1/2">Iniciar sesión</DarkButtons>
                <DarkButtons href="/register" class="w-1/2">Registrarse</DarkButtons>
            </div>
        </ul>
    </nav>
</header>