---
import DarkButtons from "./DarkButtons.astro";
---

<header class="mb-16">
    <nav class="p-3 mb-8">
        <ul class="flex justify-between items-center">
            <picture>
                <img class="w-28 m-3" src="../../public/Sena Learn LOGO.png" alt="">
            </picture>
            <div class="flex gap-10">
                <a href="/" class="font-semibold hover:scale-[1.1] transition-all duration-200">Inicio</a>
                <a href="#" class="font-semibold hover:scale-[1.1] transition-all duration-200">Especialidades</a>
                <a href="#" class="font-semibold hover:scale-[1.1] transition-all duration-200">Cursos</a>
            </div>
            <div>
                <DarkButtons href="/login">Iniciar sesión</DarkButtons>
                <DarkButtons href="/register">Registrarse</DarkButtons>
            </div>
        </ul>
    </nav>
    <article class="flex p-3 mx-3 items-center">
        <section class="flex-1 p-4">
            <div class="flex flex-col justify-end w-2/4 mb-3">
                <h4 class="text-5xl font-bold">Descrubre</h4>
                <h4 class="text-5xl font-bold text-[#FF6C20] text-center">Desarrolla</h4>
                <h4 class="text-5xl font-bold">Domina</h4>
            </div>
            <div class="w-3/4 font-medium">
                <p>Nuestra plataforma ofrece una amplia gama de cursos virtuales diseñados para empoderar a las mentes curiosas y ambiciosas.</p>
            </div>
        </section>
        <section class="relative">
            <img class="absolute z-10 w-96 left-20 bottom-0" src="../../public/Character Header.png" alt="">
            <div class="polygon-header">

            </div>
        </section>
    </article>
</header>

<style>
    .polygon-header {
        width: 530px; 
        height: 355px;
        background: #00324D;
        /* Skew */
        -webkit-transform: skew(30deg); 
        -moz-transform: skew(30deg); 
        -o-transform: skew(30deg);
        transform: skew(20deg);
        border-radius: 50px 0 0 50px;
    }
</style>