---
import DarkButtons from "./DarkButtons.astro";
import Link from "./Link.astro";
---

<header class="mb-2">
    <nav class="p-3 max-w-[90%] mx-auto">
        <ul class="flex justify-between items-center">
            <picture>
                <img class="w-28 m-3" src="../../public/Sena Learn LOGO.png" alt="">
            </picture>
            <div class="flex gap-10">
                <Link href="/">Inicio</Link>
                <Link href="/">Cursos</Link>
                <Link href="/">Especialidades</Link>
            </div>
            <div>
                <DarkButtons href="/login">Iniciar sesión</DarkButtons>
                <DarkButtons href="/register">Registrarse</DarkButtons>
            </div>
        </ul>
    </nav>
</header>